.homeBody{
   background-image: url("https://wallpaperaccess.com/full/236559.jpg");
}

a {
   text-decoration: none;
   color: white;
   font-family: 'Montserrat', sans-serif;
   margin-left: 25px;
   margin-right: 5px;
   font-weight: bolder;
}

.nav-link:hover{
   background-color: rgb(203, 199, 199);
   color: black;
}

#right-col {
   background-color: rgba(18, 31, 80, 0.899);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}

#left-col {
   background-color: white;
   height: 600px;
   opacity: 0.9;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.imgContainer {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
}

.aboutHeader {
   color: white;
   font-family: 'Fira Sans', sans-serif;
   font-size: 70px;
   text-align: center;
   margin-top: 30px;
}

.diveSpan {
   color: rgba(218, 42, 42, 0.797);
}

.aboutP {
   color: white;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
   margin-top: 20px;
}
.button {
   border-radius: 4px;
   border: none;
   color: black;
   text-align: center;
   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
   padding: 15px;
   width: 200px;
   transition: all 0.7s;
   cursor: pointer;
   margin-left: auto;
   margin-right: auto;
   display:block;
   margin-top: 50px;
 }
 
 .button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }
 
 .button span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 
 .button:hover span {
   padding-right: 25px;
 }
 
 .button:hover span:after {
   opacity: 1;
   right: 0;
 }

 .button:hover {
    background-color: rgb(2, 2, 38);
    color: white;
 }

 